*
!/.gitignore
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/etc/env.sample
!/app/i18n/**
!/auth.json
!/composer.json
!/composer.lock
!/extensions
!/extensions/**
!/patches
!/patches/**
!/update
!/update/.htaccess
!/README.md
!/magerun2
!.magento.env.yaml
!magento-vars.php
.DS_Store
#!./pub/errors/default/503.phtml