/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2021-04-28 03:14:21 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main,.page-product-downloadable .product-options-bottom {
        width: 57.17%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media,.page-product-downloadable .product-options-wrapper {
        width: 40.83%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 42.8775%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 30.6225%;
    }
}

@media (max-width: 575px){
body {
    font-size: 13px;
    line-height: 21px;
}
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins,sans-serif;
    color: #222529;
    letter-spacing: normal;
}
h1 { 
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    margin: 0 0 32px 0;
}
h2 { 
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 32px 0;
}
h3 { 
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 20px 0;
}
h4 { 
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 14px 0;
}
h5 { 
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 14px 0;
}
h6 { 
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #777;
}
.home-banner-slider h2.vc_custom_heading, .custom-font4 {
    font-family: 'Segoe Script','Savoye LET';
}
html .heading-secondary, html .lnk-secondary, html .text-color-secondary {
    color: #ff7272;
}
html .btn-modern {
    text-transform: uppercase;
    font-size: .75rem;
    padding: .75rem 1.5rem;
    font-weight: 600;
    height: auto;
}
html .action.primary, html .btn {
    font-family: Poppins;
    letter-spacing: .01em;
    font-weight: 700;
    line-height: 1.42857;
    padding: .8em 2em; 
}
html .btn-modern {
    font-size: .8125rem;
    padding: 1em 2.8em;
}
html .action.primary {
    color: #fff;
    background-color: #08c;
    border-color: #08c #08c #069;
}
html .btn-xl {
    font-size: 1rem;
    padding: .8rem 2rem;
}
.btn-modern.btn-xl {
    font-size: 1rem;
    padding: 1.25em 3.125em;
}
.btn-flat {
    padding: 0!important;
    background: none!important;
    border: none!important;
    border-bottom: 1px solid transparent!important;
    box-shadow: none!important;
    text-transform: uppercase;
    font-size: .75rem;
} 
html .btn-dark {
    color: #fff;
    background-color: #222529;
    border-color: #222529 #222529 #0b0c0e;
} 
html .btn-light {
    color: #222529;
    background-color: #fff;
    border-color: #fff #fff #e6e6e6;
}
html .btn-quaternary {
    color: #fff;
    background-color: #000;
    border-color: #000 #000 #000;
}
html .background-color-secondary {
    background-color: #f4a085 !important;
}
.page-header .sw-megamenu.navigation li.level0 > em, .page-header .sw-megamenu.navigation li.level0 i {
    display: none;
}
.top-icon .porto-sicon-header {
    margin-bottom: .75rem;
}
.widget, .sidebar-content .widget {margin-top: 1.5rem;margin-bottom: 1.5rem;}
.widget .widgettitle {
    font-size: 1rem;
    letter-spacing: -.02em;
}
.product-item-photo>a:not(.weltpixel-quickview):before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
    z-index: 3;
    opacity: 0;
    transition: opacity .2s;
}
.product-item-info:hover .product-item-photo>a:not(.weltpixel-quickview):before {
    opacity:1;
}
.small-list.products-grid .product-items .product-item-info .product-item-photo:before {display: none;}
.footer .widgettitle, .footer .widget-title {
    font-size: .9375rem;
    font-weight: 600;
}
html .background-color-secondary {
    background-color: #ff7272!important;
}
.page-header .sw-megamenu.navigation li.level0 > em, .page-header .sw-megamenu.navigation li.level0 i {
    display: none;
}
.top-icon .porto-sicon-header {
    margin-bottom: .75rem;
} 
.product-item-photo>a:not(.weltpixel-quickview):before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
    z-index: 3;
    opacity: 0;
    transition: opacity .2s;
}
.product-item-info:hover .product-item-photo>a:not(.weltpixel-quickview):before {
    opacity:1;
}
.small-list.products-grid .product-items .product-item-info .product-item-photo:before {display: none;}
.footer .widgettitle, .footer .widget-title {
    font-size: .9375rem;
    font-weight: 600;
}