/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2021-04-28 03:14:21 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main,.page-product-downloadable .product-options-bottom {
        width: 57.17%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media,.page-product-downloadable .product-options-wrapper {
        width: 40.83%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 42.8775%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 30.6225%;
    }
}

.layout-fullwidth .container, .layout-fullwidth .block.category.event,.layout-fullwidth .footer.content,.layout-fullwidth .header.content,.layout-fullwidth .navigation,.layout-fullwidth .page-main,.layout-fullwidth .page-wrapper>.breadcrumbs >ul,.layout-fullwidth .page-wrapper>.page-bottom,.layout-fullwidth .page-wrapper>.widget,.layout-fullwidth .top-container{
    padding-left: 4vw;
    padding-right: 4vw;
}
@media (max-width: 575px){
body {
    font-size: 13px;
    line-height: 21px;
}
}
p { 
    letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins,sans-serif;
    color: #222529;
    letter-spacing: normal;
}
h1 { 
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin: 0 0 32px 0;
}
h2 { 
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 32px 0;
}
h3 { 
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    margin: 0 0 20px 0;
}
h4 { 
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin: 0 0 14px 0;
}
h5 { 
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 14px 0;
}
h6 { 
    font-weight: 600;
    font-size: 13px;
    line-height: 18px; 
    margin: 0 0 14px 0;
}
.home-banner-slider h2.vc_custom_heading, .custom-font4 {
    font-family: 'Segoe Script','Savoye LET';
}
html .heading-secondary, html .lnk-secondary, html .text-color-secondary {
    color: #d26e4b;
}
html .btn-modern {
    text-transform: uppercase;
    font-size: .75rem;
    padding: .75rem 1.5rem;
    font-weight: 600;
    height: auto;
}
html .action.primary, html .btn {
    font-family: Poppins;
    letter-spacing: .01em;
    font-weight: 700;
    line-height: 1.42857;
    padding: .8em 2em; 
}
html .btn-modern {
    font-size: .8125rem;
    padding: 1em 2.8em;
}
html .action.primary {
    color: #fff;
    background-color: #222529;
    border-color: #222529 #222529 #0b0c0e;
}
html .btn-xl {
    font-size: 1rem;
    padding: .8rem 2rem;
}
.btn-modern.btn-xl {
    font-size: 1rem;
    padding: 1.25em 3.125em;
} 
.btn-flat {
    padding: 0!important;
    background: none!important;
    border: none!important;
    border-bottom: 1px solid transparent!important;
    box-shadow: none!important;
    text-transform: uppercase;
    font-size: .75rem;
} 
html .btn-dark {
    color: #fff;
    background-color: #222529;
    border-color: #222529 #222529 #0b0c0e;
} 
html .btn-light {
    color: #222529;
    background-color: #fff;
    border-color: #fff #fff #e6e6e6;
}
html .btn-quaternary {
    color: #fff;
    background-color: #000;
    border-color: #000 #000 #000;
}
html .background-color-secondary {
    background-color: #f4a085 !important;
}
.page-header.type4 .header-main .header-center .logo {
    padding-top: 0;
    padding-bottom: 0;
}
.page-header.type4 .header-main .header-center { 
    order: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: flex-start;
    flex: 1;
    padding-left: 0;
    padding-right: 0;
}
.page-header.type4 .header-main .header-left, .page-header.type4 .header-main .header-right { 
    order: 2;
    padding-top: 30px;
    padding-bottom: 30px;
}
.page-header.type4 .header-main .header-left {
    flex: inherit;
}
@media (min-width: 992px) {
.page-header.type4 .navigation:not(.side-megamenu) .level0 .level-top { 
    padding: 13px 13px 13px 13px;
}
}
@media (min-width: 992px) and (max-width: 1219px) {
.page-header.type4 .navigation:not(.side-megamenu) .level0 .level-top { 
    padding: 10px 7px 10px 7px;
}
}
.page-header .sw-megamenu.navigation li.level0 > em, .page-header .sw-megamenu.navigation li.level0 i {
    display: none;
}
.top-icon .porto-sicon-header {
    margin-bottom: 1rem;
}
.widget, .sidebar-content .widget {margin-top: 1.5rem;margin-bottom: 1.5rem;}
.widget .widgettitle {
    font-size: 1rem;
    letter-spacing: -.02em;
}  
html .background-color-secondary {
    background-color: #ff7272!important;
}
.page-header .sw-megamenu.navigation li.level0 > em, .page-header .sw-megamenu.navigation li.level0 i {
    display: none;
}

.page-wrapper > .breadcrumbs { 
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 30px;
}
.page-wrapper > .breadcrumbs .items {  
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: 0;
}
.page-wrapper > .breadcrumbs .items>li.home a { 
    width: auto; 
    text-indent: 0;
}
.page-wrapper > .breadcrumbs .items>li.home a:after {display: none;}
.infinite-loader .btn-load-more,.infinite-loader .loading {
    margin: 12px 40px;
    border: 1px solid #000;
    width: auto;
    display: inline-block;
    letter-spacing: .075em;
    color: #000;
    padding: 18px 55px;
    background: none;
    font-size: 12px;
    line-height: 1.3333;
    font-weight: 700;
}
.top-icon .porto-sicon-header {
    margin-bottom: 1rem;
}  
.footer h1,.footer h2,.footer h3,.footer h4,.footer h5,.footer h6 {
    color:#fff;
}
.text-xl {
    font-size: 1.375rem!important;
}
.footer, .footer p { 
    line-height: 24px;
    letter-spacing: 0;
}
.footer .footer-top p {
    font-size: .8125rem;
    margin: 0;
}
.footer .widgettitle, .footer .widget-title { 
    font-size: 1rem;
    margin-bottom: 1.25rem;
    text-transform: none; 
    font-weight: 600;
}
.footer-top .custom-block:before {
    margin-bottom: 2rem;
    border: none;
}
.footer-top .custom-block:after {
    margin-top: 2rem;
}
.footer-top .custom-block:before, .footer-top .custom-block::after { 
    border-color:#222;
}
.footer .newsletter .action.subscribe { 
    font-size: 12px;
    border-radius: 0;
    border: none;
    font-weight: 700;
    padding: 0 2.5em;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.footer .newsletter input { 
    padding-right: 1.5rem;
    border-radius: 0;
    font-size: 12px;
    color: #777;
    border: none;
    background: #fff;
    padding-left: 1.5rem;
    min-width: 23vw;
}
.footer .follow-us .share-links a {
    border-radius: 20px;
    border: none;
    box-shadow: none;
    font-size: 1.125rem;
    width: 2.5rem;
    height: 2.5rem;
}
.footer .follow-us .share-links a:not(:hover) { 
    color: #525252;
    background-color: #fff;
}
.footer-middle > .container { 
    padding-top: 70px;
    padding-bottom: 0;
}
.footer-middle > .container::after { 
    border-color: #222;
}
@media (min-width: 992px) {
.footer-middle .col-lg-3:last-child {
    text-align: right;
}
}
.footer-bottom address { 
    text-align: center; 
}