/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2021-04-28 03:14:21 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main,.page-product-downloadable .product-options-bottom {
        width: 57.17%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media,.page-product-downloadable .product-options-wrapper {
        width: 40.83%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 42.8775%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 30.6225%;
    }
}

body { 
    line-height: 26px;
    letter-spacing: .2px;
}
p {
    letter-spacing: .2px;
}
li {
    line-height: 26px;
}
@media (max-width: 575px){
body {
    font-size: 13px;
    line-height: 21px;
}
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins,sans-serif;
    color: #222529;
    letter-spacing: normal;
}
h1, h2, h3 {
    letter-spacing: -.025em;
}
h1 { 
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    margin: 0 0 32px 0;
}
h2 { 
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 32px 0;
}
h3 { 
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    margin: 0 0 20px 0;
}
h4 { 
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 14px 0;
}
h5 { 
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 14px 0;
}
h6 { 
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #777;
}
.home-banner-slider h2.vc_custom_heading, .custom-font4 {
    font-family: 'Segoe Script','Savoye LET';
}
html .heading-secondary, html .lnk-secondary, html .text-color-secondary {
    color: #ff7272;
}
.custom-font1 {
    font-family: Nanum Brush Script,sans-serif;
}
html .btn-modern {
    text-transform: uppercase;
    font-size: .75rem;
    padding: .75rem 1.5rem;
    font-weight: 600;
    height: auto;
}
html .action.primary, html .btn {
    font-family: Poppins;
    letter-spacing: .01em;
    font-weight: 700;
    line-height: 1.42857;
    padding: .8em 2em; 
}
html .btn-modern {
    font-size: .8125rem;
    padding: 1em 2.8em;
}
html .action.primary {
    color: #fff;
    background-color: #c59b9c;
    border-color: #c59b9c #c59b9c #b37b7d;
}
html .btn-xl {
    font-size: 1rem;
    padding: .8rem 2rem;
}
.btn-modern.btn-xl {
    font-size: 1rem;
    padding: 1.25em 3.125em;
}
.btn-flat {
    padding: 0!important;
    background: none!important;
    border: none!important;
    border-bottom: 1px solid transparent!important;
    box-shadow: none!important;
    text-transform: uppercase;
    font-size: .75rem;
} 
html .btn-dark {
    color: #fff;
    background-color: #222529;
    border-color: #222529 #222529 #0b0c0e;
} 
html .btn-light {
    color: #222529;
    background-color: #fff;
    border-color: #fff #fff #e6e6e6;
}
html .btn-quaternary {
    color: #fff;
    background-color: #000;
    border-color: #000 #000 #000;
}
html .background-color-secondary {
    background-color: #f4a085 !important;
} 
.page-wrapper > .breadcrumbs {  
    font-size: .7143em;
    letter-spacing: .05em;
    font-weight: 500;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 35px;
}
.page-wrapper > .breadcrumbs .items {
    padding-top: 16px;
    padding-bottom: 16px;
}
.page-wrapper > .breadcrumbs .items>li.home a {
    width: auto;
    text-indent: 0;
}
.page-wrapper > .breadcrumbs .items>li.home a:after {
    display: none;
}
.catalog-category-view .sidebar.sidebar-main .sidebar-content {
    border: none;
}
.sidebar .sidebar-content .block-category-list, .side-custom-block .custom-block,.filter-options-item,.filter-actions {
    padding: 0;
    margin-bottom: 30px;
    border: none;
}
.filter-current {padding: 0;}
.block-category-list .block-title, .side-custom-block .custom-block h2, .filter-options-title, .filter .filter-current-subtitle {
    border-bottom: 1px solid #e7e7e7;
    padding: 0 0 6px;
    margin-bottom: 0;
    line-height: 1.4;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    letter-spacing: .05em;
}
.side-custom-block .custom-block h2 {
    margin-bottom: 10px;
}
.block-category-list .block-content,.filter-options-content,.custom-block .block-content, .filter-current .items,.filter-actions {
    padding-left: 15px;
}
.block-category-list .block-content ol li a {
    font-size: 12px;
    padding: 4px 0;
    font-weight: 400;
}
.side-custom-block .custom-block:last-child {
    margin-bottom: 0;
}
.side-custom-block .custom-block h5 {
    margin-top: 0 !important;
}
.top-icon .porto-sicon-header {
    margin-bottom: .75rem;
}
.widget, .sidebar-content .widget {margin-top: 1.5rem;margin-bottom: 1.5rem;}
.widget .widgettitle {
    font-size: 1rem;
    letter-spacing: -.02em;
} 
.footer .widgettitle, .footer .widget-title {
    font-size: .9375rem;
    font-weight: 600;
} 
.footer .footer-middle>.container {
    padding-top: 4rem;
    padding-bottom: 1.4rem;
}
.footer .container { 
    width: 100%;
    max-width: none;
}
@media (min-width: 992px) {
.footer .container {
    padding-left: 3%;
    padding-right: 3%;
}
.footer-middle>.container>.row>div {
    flex: 0 0 28%;
    max-width: 28%;
}
.footer-middle>.container>.row>div:nth-child(2n) {
    flex: 0 0 22%;
    max-width: 22%;
}
}
.footer {
    border-top: 1px solid #e7e7e7;
}
.footer, .footer p {
    font-size: 13px;
    line-height: 26px;
    letter-spacing: inherit;
}
.footer-bottom { 
    font-size: 13px;
}
.footer-middle > .container::after {
    border-color: #e7e7e7;
    left: 0;
    right: 0;
}
.footer .newsletter input {
    height: 44px; 
    border-radius: 0; 
    background: #e2e2e0;
}
.footer .newsletter input::placeholder {
    color: #999;
    opacity: 1
}
.footer .newsletter .action.subscribe {
    height: 44px;
    padding-left: .933rem;
    padding-right: .933rem; 
    border-radius: 0; 
}