.page-header.type15 .header-main .header-left,.page-header.type15 .header-main .header-right {padding-top: 15px;padding-bottom: 15px;}
.page-header .panel.wrapper {position: relative;} 
.page-header .panel.wrapper .header-right > * {margin-right: .875rem;margin-left: 0;}
.page-header.type15 .main-panel-top {display: none;}
.page-header.type15 .main-panel-top .panel.header+.gap {height: 1.6em;}
.page-header.type15 .panel.header .switcher {margin-right: 0;margin-right: .875rem;}
.page-header.type15 .panel.header .switcher:first-child {margin-right: 0;}
.page-header.type15 .main-panel-top .share-links a {width: 26px;height: 26px;margin: 0 1px;display: inline-block;}
.page-header.type15 .main-panel-top .separator {height: 1.6em;border-right: 1px solid rgba(255,255,255,.09);display: inline-block;vertical-align: middle;}
.page-header.type15 .header-main .header.content {max-width: 100%;padding-left: 20px;padding-right: 20px;}
.page-header.type15 .header-main .separator {border-right: 1px solid rgba(0,0,0,.04);height: 1.5em;}
.page-header.type15 .header-main .header-right > *{margin-right: .875rem;}
.page-header.type15 .header-main .header-right > *:first-child {margin-right: 0;}
.page-header.type15 .custom-block {white-space: nowrap;}
.page-header.type15 .header-contact {display: inline-flex;align-items: center;line-height: 22px;font-size: .9em;}
.page-header.type15 .header-contact .wishlist {margin-right: .5rem;height: 30px;}
.page-header.type15 .header-contact .wishlist i {font-size: 28px;display: block;margin: 0;}
.page-header.type15 .minicart-wrapper {height: 28px;}
.page-header.type15 .minicart-wrapper .action.showcart {min-width: 32px;justify-content: center;}
.page-header.type15 .minicart-wrapper .action.showcart::after {display: none;}
.page-header.type15 .minicart-wrapper .action.showcart .counter.qty {left: -5px;top: -4px;box-shadow: -1px 1px 2px 0 rgb(0 0 0 / 30%);}
.page-header.type15 .nav-sections .navigation {padding-left: 0;padding-right: 0;position: static;}
.page-header.type15 .nav-sections .navigation .container {padding-right: 10px;padding-left: 10px;}
.page-header.type15 .search-area.show-icon a.search-toggle-icon i::before {font-weight: 600;}
.nav-toggle {padding-left: 1px;margin-left: 0;}
@media (min-width:1670px){
  .page-header.type15 .header-main .header-right {flex: 1;flex-wrap: nowrap;padding-right: 1.75rem;}
}
@media (min-width:992px) and (max-width:1669px){
  .page-header.type15 .header-main .header-left {flex: 1;}
}
@media (min-width: 1440px) {
.page-header.type15 .header-main .header-left .logo {margin-left: 1rem;}
}
@media (min-width:992px){
  .page-header.type15 .header-main .header-left > * {margin-right: .875rem;}
  .page-header.type15 .header-main .header-left > *:first-child{margin-right: 0;}
  .page-header.type15 .header-main .header-right .separator {margin-right: 2em;margin-left: 1em;}
  .page-header.type15 .logo {min-width: 111px;margin-right: 0 !important;}
  .page-header.type15 .search-area:not(.show-icon) .block.block-search {border: none;}
  .page-header.type15 .block-search input,.page-header.type15 .search-category {height: 48px;font-style: italic;}
  .page-header.type15 .search-category {left: 51px !important;}
  .page-header.type15 .search-category:after {line-height: 48px;}
  .page-header.type15 .search-category select {max-width: 95px;}
  .page-header.type15 .search-area .minisearch .actions button {width: 52px;line-height: 48px;height: 48px;color: #222529;}
  .page-header.type15.sticky-header .logo {min-width: 100px;max-width: 100px;}
  .page-header.type15.sticky-header .logo img {transform: scale(.8);transform-origin: right center;}
  .page-header.type15.sticky-header .nav-sections {position: static !important; box-shadow: none;width: auto !important;}
  .page-header.type15.sticky-header .header-main {position: fixed; right: 0;top: 0; background: #fff;width: 100%;box-shadow: 0 1px 0 0 rgb(0 0 0 / 6%);}
  .page-header.type15.sticky-header .header-main .header-left, .page-header.type15.sticky-header .header-main .header-right {padding-top: 9.5px;padding-bottom: 9.5px;}
  .page-header.type15.sticky-header .minicart-wrapper {position: static;transform: none;}
  .page-header.type15 .sticky-logo {margin-top: 10px;padding-right: 10px;}
  .page-header.type15 .header.panel > .header.links {display: flex;align-items: center;}
  .page-header.type15 .header.panel > .header.links > li > a {padding-top: 8px;padding-bottom: 8px;padding-right: 16px;padding-left: 8px;text-transform: none;}
  .page-header.type15 .nav-sections {display: flex;align-items: center;}
  .page-header.type15 .nav-sections .nav-sections-items {flex: 0 0 100%;}
  .page-header.type15 .navigation:not(.side-megamenu) > ul {display: flex;align-items: center;flex-wrap: wrap;position: static;}
  .page-header.type15 .navigation:not(.side-megamenu) .level0 {margin-left: 1px;}
  .page-header.type15 .navigation:not(.side-megamenu) .level0 .level-top {font-size: 13px;font-weight: 600;line-height: 13px;letter-spacing: 0;padding: 30px 16px 30px 16px;}
  .page-header.type15.sticky-header .navigation:not(.side-megamenu) .level0 .level-top {padding-top: 20px;padding-bottom: 20px;}
  .page-header .sw-megamenu.navigation li.level0.staticwidth > .submenu .level1 > a,
  .page-header .sw-megamenu.navigation li.level0.fullwidth > .submenu .level1 > a {color: #000;}
  .sw-megamenu.navigation li.level0.classic .submenu a,.sw-megamenu.navigation li.level0.fullwidth .submenu a, .sw-megamenu.navigation li.level0.staticwidth .submenu a {font-weight: 600;}
  .page-header.type15 .search-area.show-icon .block.block-search {min-width: 380px;}
}
@media (min-width:992px) and (max-width: 1615px) {
.page-header.type15 .navigation:not(.side-megamenu) .level0 .level-top {
    padding: 20px 10px 20px 10px;
}
}
@media (max-width: 1575px) {
  .page-header.type15 .header-main .header-right > *,.page-header.type15 .header-main .header-right .separator{margin-right: .875rem;margin-left: 0;}
  .page-header.type15 .header-main .header-left > * {margin-right: .375rem;}
}
@media (min-width:992px) and (max-width: 1219px) {
.page-header.type15 .navigation:not(.side-megamenu) .level0 .level-top {
    padding: 20px 6px 20px 6px;
    font-size: 12px;
}
}
@media (min-width:992px) and (max-width: 1199px) {
.page-header.type15 .navigation:not(.side-megamenu) .level0 .level-top {
    padding: 20px 10px 20px 10px;
}
.page-header.type15 .menu-custom-block, .page-header.type15 .sections.nav-sections + .separator {
  display: none;
}
}
@media (max-width:991px){
  .page-header.type15 .custom-block,.page-header.type15 .header-main .separator {display: none;}
  .page-header.type15 .header-contact .wishlist {margin-right: 0;}
  .page-header.type15 .logo {margin-right: .875rem !important;}
  .page-header.type15 .header-main .header-left > * {margin-right: 0;}
  .page-header.type15 .search-area .search-toggle-icon {width: 30px;}
}
@media only screen and (max-width:767px){
  .page-header.type15 .main-panel-top .separator {display: none;}
}
