.page-header .panel.wrapper .header-right > * {margin-right: .875rem;}
.page-header.type5 .main-panel-top .panel.header+.gap {height: 1.6em;margin: 0;margin-left: .875rem;opacity: 1;background: rgba(255,255,255,.09);}
.page-header.type5 .header.panel > .header.links > li > a {padding: 0 14px;}
.page-header.type5 .header-main .header-right {padding: 22px 0;}
.page-header.type5 .main-panel-top .share-links a {width: 30px;height: 30px;border-radius: 30px;margin: 0 1px;}
.page-header .switcher .options .action.toggle::after, .page-footer .switcher .options .action.toggle::after {margin-top: 2px;}
.header-main .header-left .logo {margin-right: 0;}
.page-header.type5 .separator {height: 1.6em;border-right: 1px solid #eee;}
.page-header.type5 .header-main .header-right .separator {height: 2.4em;margin: 0 .375rem 0 1.375rem;}
.page-header.type5 .search-area a.search-toggle-icon {width: 40px;height: 40px;line-height: 40px;font-size: 16px;color: inherit;}
.page-header.type5 .search-area a.search-toggle-icon i::before {font-weight: 600;}
.page-header.type5 .header-contact {display: inline-flex;align-items: center;line-height: 22px;font-size: .9em;}
.page-header.type5 .header-contact .my-account {display: inline-block;padding: 0 .125rem;font-size: 24px;vertical-align: middle;}
.page-header.type5 .header-contact p {margin: 0;}
.page-header.type5 .search-area .minisearch .actions button {width: 46px;}
.page-header.type5 .search-category {left: 46px !important;}
.minicart-wrapper .block-minicart { border: 1px solid #f0f0f0;}
@media (min-width:992px) {
  .logo img {max-width: 111px;}
  .page-header .switcher .options .action.toggle, .page-footer .switcher .options .action.toggle {padding: 0;}
  .page-header.type5 .panel.header .switcher {margin-left: .875rem;}
  .header-main .header-left > *,.header-main .header-right > *{margin-right: .875rem;}
  .page-header.type5 .header-main .header-right {flex: 0 0 auto;}
  .page-header.type5 .nav-sections {flex-shrink: 1;width: auto;}
  .page-header.type5 .navigation:not(.side-megamenu) {padding: 0;position: static;max-width: 100%;}
  .page-header.type5 .navigation:not(.side-megamenu) > ul {display: flex;align-items: center;flex-wrap: wrap;position: static;}
  .page-header.type5 .navigation:not(.side-megamenu) .level0 {margin: 0 0 0 1px;}
  .page-header.type5 .navigation:not(.side-megamenu) .level0 .level-top {font-size: 12px;font-weight: 700;line-height: 20px;letter-spacing: -.3px;padding: 10px 20px 8px 10px;}
  .page-header .sw-megamenu.navigation li.level0.staticwidth > .submenu .level1 > a,
  .page-header .sw-megamenu.navigation li.level0.fullwidth > .submenu .level1 > a {color: #333;}
  .page-header.type5 .minicart-wrapper {margin-right: 1rem;}
  .page-header.type5 .search-area {width: auto;}
  .minicart-wrapper .action.showcart .minicart-icon {font-size: 28px;}
  header.page-header.sticky-header .nav-sections {position: static !important;box-shadow: none;background: none !important;width: auto !important;margin-right: .875rem !important;}
  .page-header.type5.sticky-header .header-main {position: fixed;z-index: 20;box-shadow: 0 1px 0 0 rgb(0 0 0 / 6%);width: 100%;top: 0;background: inherit;}
  header.page-header.sticky-header .minicart-wrapper {position: static;right: 0;top: 0;transform: translateY(0);}
  header.page-header.sticky-header .header-main .header-left,header.page-header.sticky-header .header-main .header-right {padding-top: 8px;padding-bottom: 8px;}
  .page-header.type5.sticky-header .logo img {transform: scale(.8);transform-origin: left center;max-width: 100px;}
  .page-header.type5.sticky-header .header-main .header-row {min-height: 60px;}
  header.page-header.sticky-header .navigation {padding: 0;}
}
@media (min-width: 992px) and (max-width: 1189px) {
  .page-header.type5 .navigation .level0 .level-top {padding: 10px 9px 8px 6px;}
}
@media (max-width:991px){
  .page-header.type5 .header-main .header-left {flex: 1;}
  .page-header.type5 .header-main .header-right .separator {display: none;}
  .page-header.type5 .minicart-wrapper {margin-right: .475rem;}
  .page-header.type5 .custom-block {display: none;}
}
@media only screen and (max-width:767px){
  .page-header.type5 .main-panel-top .panel.header+.gap {display: none;}
}
