.page-wrapper {min-height: 100vh;position: relative;left: 0;}
.page-header {position: relative;}
@media (min-width: 992px) {
.page-wrapper {display: flex;flex-wrap: wrap;flex-direction: row;justify-content: flex-end;
}
.page-header {position: fixed;left: 0;flex: 0 0 256px;max-width: 256px;width: 256px;min-height: 100vh;height: auto !important;margin-right: auto;}
.page-wrapper>.page-main,.page-wrapper>.page-footer,.page-wrapper > .breadcrumbs, .page-header.type8 + .category-description,.porto-block-html-top,.main-upsell-product-detail {flex: 0 0 100% !important;max-width: calc(100% - 256px) !important;margin: 0;}
}
@media (min-width: 1440px){
.page-header {flex: 0 0 300px;max-width: 300px;width: 300px;}
.page-wrapper>.page-main,.page-wrapper>.page-footer,.page-wrapper > .breadcrumbs, .page-header.type8 + .category-description,.porto-block-html-top,.main-upsell-product-detail {max-width: calc(100% - 300px) !important;}
}
.page-header.type8 .panel.wrapper {min-height: 32px;font-size: .625rem;font-weight: 500;}
.page-header.type8 .switcher .options .action.toggle {padding-left: 0;}
.page-header.type8 .main-panel-top > .container {padding: 0;max-width: 100%;width: 100%;}
.page-header.type8 .header.content {position: static;}
.page-header.type8 .header-cart {display: flex;align-items: center;margin-left: auto;}
.page-header.type8 .header-cart > a {color: inherit;margin-right: .5rem;min-width: 32px;text-align: center;display: block;}
.page-header.type8 .header-cart .my-account i,.page-header.type8 .header-cart .wishlist i {font-size: 20px;display: block;}
.page-header.type8 .minicart-wrapper .action.showcart {min-width: 32px;justify-content: center;}
.page-header.type8 .minicart-wrapper .action.showcart .minicart-icon {font-size: 20px;}
.page-header.type8 .minicart-wrapper .action.showcart::after {display: none;}
.page-header.type8 .minicart-wrapper .action.showcart .counter.qty {right: -2px;top: -3px;}
.page-header.type8 .header-contact p {margin: 0;}
.page-header.type8 .search-area .minisearch .actions button {width: 46px;}
.page-header.type8 .search-category {right: 46px !important;}
.page-header.type8 .search-area .block.block-search {min-width: 140px;}
.page-header.type8 .share-links {margin: 0 0 16px;}
.page-header.type8 .share-links a {width: 30px;height: 30px;margin: 1px;box-shadow: none;font-size: 1rem;margin-left: .5rem;margin-right: .5rem;background-color: transparent;color: #fff;}

@media (max-width:991px){
  .page-header.type8 .header-row .header-left {flex: 1;}
  .page-header.type8 .header-row .header-center {flex: 0;}
  .page-header.type8 .minicart-wrapper .action.showcart .minicart-icon {font-size: 24px;}
  .page-header.type8 .minicart-wrapper {margin-left: .3125rem;}
  .page-header.type8 .custom-block {display: none;}
  .page-header.type8 .main-panel-top {display: none;}
  .sw-megamenu.navigation.side-megamenu {display: block;padding-left: 0;padding-right: 0;}
}
@media only screen and (max-width:767px){
}
@media (max-width: 575px) {
  .page-header.type8 .search-area.show-icon-tablet .block.block-search {
    right: -45px;
  }
}
@media (min-width:992px) {
  .page-header.type8 {padding: 15px 15px 160px;}
  .page-header.type8.fixed-bottom {top: auto;bottom: 0;}
  .page-header.type8 .header-main .header-row, .page-header.type8 .header-main .header-row .header-center, .page-header.type8 .header-main .header-row .header-right,.page-header.type8 .header.panel, .page-header.type8 .header-main .header-left {display: block;padding: 0;}
  .page-header.type8 .logo {text-align: center;margin: 30px auto;max-width: 111px;}
  .page-header.type8 .header.content {padding: 0;}
  .page-header.type8 .minicart-wrapper .block-minicart {right: auto; left: 0;}
  .page-header.type8 .search-area .block.block-search {border: none;margin-bottom: 20px;}
  .page-header.type8 .search-area .minisearch .actions button {width: 36px;}
  .page-header.type8 .search-category {right: 36px !important;border-color: transparent;}
  .page-header.type8 .block-search input {padding-left: 15px;font-size: inherit;}
  header.page-header.type8.sticky-header .nav-sections {background-color: transparent;position: static !important;box-shadow: none;}
  header.page-header.type8.sticky-header .navigation {padding: 0;}
  header.page-header.type8.sticky-header .minicart-wrapper {position: static;transform: none;}
  .page-header.type8 .navigation > ul {display: block;}
  .page-header.type8 .navigation .level0 {padding-right: 30px;margin-right: -30px !important;}
  .page-header.type8 .navigation .level0 .level-top {font-family: Poppins,sans-serif;font-size: 12px;font-weight: 600;line-height: 20px;letter-spacing: -.3px;padding: 11.5px 5px;margin: 0;border-top-color: transparent;}
  .sw-megamenu.navigation.side-megamenu li.active + .level0 > a {border-top: 1px solid transparent;}
  .page-header.type8 .header.panel > .header.links {float: none;display: block;position: relative;}
  .page-header.type8 .header.panel > .header.links > li {display: block;line-height: 20px;letter-spacing: 0;}
  .page-header.type8 .header.panel > .header.links > li.greet.welcome {font-family: Poppins,sans-serif;font-size: 12px;font-weight: 600;line-height: 20px;letter-spacing: -.3px;padding: 11.5px 5px;}
  .page-header.type8 .header.panel > .header.links > li > a {font-family: Poppins,sans-serif;font-size: 12px;font-weight: 600;line-height: 20px;letter-spacing: -.3px;padding: 11.5px 5px;margin: 0;display: block;}
  .page-header .sw-megamenu.navigation li.level0.staticwidth > .submenu .level1 > a,
  .page-header .sw-megamenu.navigation li.level0.fullwidth > .submenu .level1 > a {color: #333;}
  .page-header .side-bottom {text-align: center;position: absolute;bottom: 0;left: 0;right: 0;margin: 20px 10px;}
  .page-header .header-contact {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;display: block;font-size: 1.125rem;font-weight: 700;order: 0;margin: 5px 0 20px;}
  .page-wrapper .breadcrumbs {min-height: 48px;}
  .page-wrapper .breadcrumbs.fixed-position ul {position: fixed;top: 0;width: 100%;z-index: 999;box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);background: inherit;}
  .header.panel > .header.links > li.greet.welcome + .customer-welcome {
    margin-left: 0;
    position: absolute;
    right: 0;
    top: 9px;
  }
  .page-header.type8 .customer-welcome .action.switch:after {padding-right: 0;}
}
@media(min-width: 1440px) {
  .page-header.type8 {padding-left: 30px;padding-right: 30px;}
  .page-header .side-bottom {display: flex;align-items: center;margin-left: 30px;justify-content: center;flex-wrap: wrap;margin-right: 30px;}
}
@media (min-width:992px) and (max-width: 1439px) {
.page-header.type8 .navigation .level0 .level-top,.page-header.type8 .header.panel > .header.links > li > a,.page-header.type8 .header.panel > .header.links > li.greet.welcome {padding: 9px 5px; line-height: 17px;}
}
