.product-item-details .price-box .minimal-price-link .price-label {
  display: none;
}

.product-item-details .price-box .minimal-price-link {
  display: inline-block;
  margin-top: 0;
  margin-left: 5px;
}

.product-item-details .product-reviews-summary {
  min-height: 12px;
}

.product-item-info .product-item-details .price-box {
  margin-bottom: 5px;
}

.sidebar-content .product-item-details .price-box .minimal-price-link {
  display: inline-block !important;
  margin-bottom: 0 !important;
  line-height: 1 !important;
  color: #08c !important;
}

.sidebar-content .product-item-details .price-box span.normal-price {
  display: inline-block;
}

.page-main > .page-title-wrapper .page-title {
  font-size: 28px;
  font-weight: 600;
  color: #212529 !important;
  text-align: center;
}

.page-main > .page-title-wrapper {
  text-align: center;
}

.cart-empty .btn-go-shop:hover {
  background-color: #010084;
}

.customer-account-login .page-title-wrapper h1.page-title,
.customer-account-create .page-title-wrapper h1.page-title,
.customer-account-forgotpassword .page-title-wrapper h1.page-title {
  font-weight: 600;
}

.customer-account-login .page-title-wrapper,
.customer-account-create .page-title-wrapper,
.customer-account-forgotpassword .page-title-wrapper {
  background: transparent;
  padding: 30px;
}