.product-info-main {
  .page-title-wrapper h1 {
    font-weight: 500;
    font-size: 1.7rem;
  }

  .product.attribute.overview .key-features-section {
    float: left;
    width: 100%;
    margin: 10px 0 25px 0;
  }

  .product.attribute.overview .key-features-section .key-features-title {
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
  }

  .product.attribute.overview .key-features-section ul {
    padding-left: 0;
    float: left;
    width: 100%;
    list-style-type: none;
  }

  .product.attribute.overview .key-features-section ul li {
    float: left;
    width: calc(~'100% / 2 - 10px');
    margin-right: 10px;
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    color: #333;
    font-size: 15px;
    line-height: 21px;
  }

  .product.attribute.overview .key-features-section ul li::before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #00a9e0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 15px;
  }

  .product.attribute.overview .key-features-section ul li label {
    font-weight: 700;
    position: relative;
    font-size: 15px;
  }

  .product.attribute.overview .key-features-section ul li label::after {
    content: ':';
  }

  .product.attribute.overview .key-features-section ul li span.data {
    font-size: 15px;
  }

  .product.attribute.overview .key-features-section ul li {
    width: 100%;
  }

  .product.attribute.overview .key-features-section .key-features-more-info-btn {
    float: left;
    width: 100%;
    margin-top: 10px;
  }

  .product.attribute.overview .key-features-section .key-features-more-info-btn a {
    font-size: 14px;
  }

}

.fotorama__wrap .fotorama__stage .fotorama__arr .fotorama__arr__arr,
.fotorama__wrap .fotorama__stage .fotorama__fullscreen-icon{
  background-color: rgba(255,255,255,0.5);
}

.fotorama__arr .fotorama__arr__arr::before {
  width: 40px;
  height: 40px;
  line-height: 39px;
}

.box-tocart .action.tocart {
  background-color: #00a9e0;
}

.product-options-wrapper .swatch-opt .swatch-attribute-label {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-transform: capitalize;
}

.product-options-wrapper .swatch-opt .swatch-attribute-options {
  padding-left: 0;
}

.product-options-wrapper .swatch-opt .swatch-attribute-options .swatch-option {
  width: 53px !important;
  height: 53px !important;
  background-size: 100% !important;
}

.product-options-wrapper .swatch-opt .swatch-attribute-options .swatch-option.selected {
  outline: 2px solid #00a9e0;
}

body.catalog-product-view .product.media .gallery-placeholder {
  position: relative;
}

body.catalog-product-view .product.media .gallery-placeholder .product-custom-tag-section {
  height: calc(~'100% - 137px');
  width: calc(~'100% - 20px');
  top: 10px;
  left: 10px;
}

.product-info-main .stock span + span {
  font-weight: 700;
  text-transform: none;
  color: green;
}

.product-info-main .product.sku .value {
  word-break: break-all;
  width: calc(~'100% - 45px');
  line-height: normal;
  float: right;
  font-weight: 400;
  text-transform: none;
}


.product-info-main .product.sku .type {
  float: left;
  line-height: normal;
  margin-right: 10px;
  font-weight: 700;
  color: #000;
}

.product-info-main .product-info-stock-sku span.label {
  font-weight: 700;
  text-transform: capitalize;
  color: #000;
  margin-right: 5px;
}

.product-info-main .product-info-stock-sku {
  font-size: 14px;
}

.product-info-main .product-add-form .product-options-bottom .actions button.tocart {
  padding: 0 1.3em;
  font-size: 13px;
}

.product-info-main .product-add-form .product-options-bottom .moved-add-to-links .product-addto-links a.action {
  width: 40px;
}

.product-info-main .product-add-form .product-options-bottom .moved-add-to-links .product-addto-links a.action::before {
  font-size: 16px;
}

.product-info-main .product-add-form .product-options-bottom .box-tocart .fieldset button.action.primary:hover,
.product-info-main .product-add-form .product-options-bottom .box-tocart .fieldset button.action.primary:focus,
.product-info-main .product-add-form .product-options-bottom .box-tocart .fieldset button.action.primary:active {
  background-color: #00a9e0;
  border-color: #00a9e0;
  opacity: 0.8;
}


.product-info-main .product-social-links .share-links a {
  border-radius: 0;
  border: 1px solid #e7e7e7 !important;
  width: 35px;
  height: 35px;
  font-size: 14px;
}

/* ============ Product page new style start =========== */
.catalog-product-view {
  .product-content-custom-section {
    float: left;
    width: 100%;
    margin-bottom: 30px;
  }
  .product-content-custom-section .product.media {
    width: calc(~'100% - 67%');
    float: left;
    padding-right: 10px;
    margin-bottom: 0;
  }
  .product-content-custom-section .product-info-main {
    float: left;
    width: 37%;
    padding: 0 10px;

    .page-title-wrapper {
      width: 100%;
      max-width: 100%;
    }

    .page-title-wrapper h1 {
      font-size: 22px;
      line-height: normal;
      float: left;
      width: 100%;
    }

    .page-title-wrapper h1 span.base {
      float: left;
      width: 100%;
    }

    .product.attribute.overview .key-features-section ul li label {
      font-size: 14px;
    }

    .product.attribute.overview .key-features-section ul li span.data {
      font-size: 14px;
    }

    .product.attribute.overview .key-features-section ul {
      box-sizing: border-box;
    }

  }

  .product-content-custom-section .product-info-custom-section {
    float: left;
    width: 30%;
    padding: 30px 20px;
    border: 1px solid #ccc;

    .product-info-stock-sku .stock.available span.label {
      display: none;
    }

    .product-info-stock-sku .stock.available span {
      background: #edf4ed;
      color: #2fac66;
      padding: 1px 6px 1px 8px;
      position: relative;
    }

    .product-info-stock-sku .stock.available span::after {
      border: 10px solid;
      border-color: transparent transparent transparent #edf4ed;
      content: '';
      position: absolute;
      right: -20px;
      top: 0;
    }

    .product-info-stock-sku {
      float: left;
      width: 100%;
    }

    .product-info-stock-sku .configurable-variation-qty {
      display: none !important;
    }

    .product-info-stock-sku .stock.available {
      float: left;
    }

    .product.attribute.sku {
      float: right;
      width: 65%;
      text-align: right;
    }

    .product.attribute.sku strong.type {
      float: none;
      padding-right: 0;
      font-weight: 600;
      font-size: 12px;
      display: inline-block;
    }

    .product.attribute.sku strong.type::after {
      content: ': ';
    }

    .product.attribute.sku .value {
      font-size: 12px;
      display: inline;
    }

    .product-info-price {
      float: left;
      width: 100%;
      margin: 20px 0;
    }

    .product-info-price .price-box {
      float: left;
      width: 100%;
    }

    .product-info-price .price-box span.normal-price {
      float: left;
      font-size: 24px;
      position: relative;
      padding-top: 25px;
      width: 50%;
    }

    .product-info-price .price-box span.old-price {
      float: right;
      font-size: 18px;
      position: relative;
      padding-top: 25px;
      width: 50%;
      margin: 0;
      text-align: right;
    }

    .product-info-price .price-box span.normal-price::before {
      content: 'Special Price';
      position: absolute;
      top: 0;
      font-size: 16px;
      font-weight: normal;
    }

    .product-info-price .price-box span.old-price::before {
      content: 'Retail Price';
      position: absolute;
      top: 0;
      right: 0;
      font-size: 14px;
      font-weight: normal;
    }

    .product-options-bottom .moved-add-to-links,
    .product-add-form .moved-add-to-links{
      display: none;
    }

    .price-box.price-tier_price [data-role="tier-price-block"] {
      width: 100%;
      display: inline-block;
      margin-bottom: 20px;
    }

    .product-add-form .box-tocart {
      border: medium none;
    }

    .product-add-form .box-tocart .actions {
      margin-right: 0;
      float: right;
    }
  }

}

body.catalog-product-view .product.info.detailed {
  float: left;
  width: 70%;
  padding-right: 30px;
  margin-bottom: 20px;
}

body.catalog-product-view .block.related {
  float: left;
  width: 30%;
}

body.catalog-product-view .block.related .owl-stage-outer .owl-stage {
  width: 100% !important;
}

body.catalog-product-view .block.related .owl-stage-outer .owl-stage .owl-item {
  width: 100% !important;
}

body.catalog-product-view .product.info.detailed {

  .product.data.items > .item.title {
    padding: 0;
    border: 0;
    margin: 0;
  }

  .product.data.items>.item.title>.switch{
    font-size: 14px;
    border: 1px solid #bbb;
    border-right: none;
    line-height: 45px;
    padding: 0;
    height: 45px;
    font-weight: 700;
    background: 0 0;
    color: #414242;
    display: block;
    position: relative;
    z-index: 2;
  }
  .product.data.items>.item.title {
    margin: 0;
    width: 25%;
    text-align: center;
  }

  .product.data.items>.item.title#tab-label-description>.switch {
    border-left: 1px solid #bbb;
  }

  .product.data.items>.item.title.active>.switch {
    border-color: #bbb !important;
    border-bottom: 2px solid #153384 !important;
    color: #153384 !important;
  }

  .product.data.items > .item.title:hover a {
    border-color: #bbb !important;
    border-bottom: 2px solid #153384 !important;
    color: #153384 !important;

  }

  .product.data.items>.item.title.active>.switch, .product.data.items>.item.title.active>.switch:focus, .product.data.items>.item.title.active>.switch:hover {
    padding-bottom: 2px;
  }

  .product.data.items>.item.content {
    margin-top: 44px;
    padding: 20px;
    background: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
    float: right;
    margin-left: -100%;
    width: 100%;
  }


  .product.data.items>.item.title#tab-label-description>.switch {
    border-right: 0;
  }

  .product.data.items > .item.title:nth-last-of-type(2) a {
    border-right: 1px solid #bbb;
  }

}

.catalog-product-view .product-info-custom-section {

  .select-price-box .table-heading {
    font-weight: bold;
    font-size: 14px !important;
    padding: 10px 0 !important;
    color: #010084 !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
  }

  .select-price-box .table-heading span.refresh-image {
    display: none;
  }

  .select-price-box .table-heading span.refresh-image img {
    width: 15px;
  }

  .select-price-box .table-alldata table {
    border: 1px solid #ccc;
  }

  .select-price-box .table-alldata table tr td span.price {
    font-size: 14px;
    font-weight: bold;
  }

  .select-price-box .table-alldata table tr td {
    vertical-align: middle;
    border: 1px solid #ccc;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 12px;
    color: #444;
  }

  .select-price-box .table-alldata table tr td input[type="radio"] {
    margin: 0;
    position: relative;
    top: 2px;
  }

}

.catalog-product-view .product-info-custom-section {

  .select-tire-price-box .table-heading {
    font-weight: bold;
    font-size: 14px !important;
    padding: 10px 0 !important;
    color: #010084 !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
  }

  .select-tire-price-box table {
    border: 1px solid #ccc;
  }

  .select-tire-price-box table tr td span.price {
    font-size: 14px;
    font-weight: bold;
  }

  .select-tire-price-box table tr td {
    vertical-align: middle;
    border: 1px solid #ccc;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 12px;
    padding: 6px 5px 5px 5px;
    text-align: center;
    color: #444;
  }
  .select-tire-price-box table tr td input[type="radio"] {
    margin: 0;
    position: relative;
    top: 2px;
  }

}



@media screen and (max-width:1199px){

  .catalog-product-view .product-content-custom-section {
    .product.media {
      width: 34%;
    }
    .product-info-main {
      width: 30%;
    }
    .product-info-custom-section {
      width: 36%;
      padding: 25px 15px;
    }
    .product-info-main .page-title-wrapper h1 {
      font-size: 18px;
    }
    .product-info-main .product-reviews-summary {
      margin-bottom: 0;
      float: left;
      width: 100%;
    }

    .product-info-main .product-reviews-summary:after {
      margin: 10px 0;
    }

    .product-info-main .product.attribute.overview .key-features-section .key-features-title {
      font-size: 14px;
    }

    .product-info-main .product.attribute.overview .key-features-section ul li label {
      font-size: 12px;
    }

    .product-info-main .product.attribute.overview .key-features-section ul li span.data {
      font-size: 12px;
    }

    .product-info-main .product.attribute.overview .key-features-section ul li {
      margin-bottom: 5px;
    }
    .product-info-custom-section .product-info-price .price-box span.normal-price {
      font-size: 21px;
      padding-top: 20px;
    }
    .product-info-custom-section .product-info-price .price-box span.normal-price::before {
      font-size: 14px;
    }
    .product-info-custom-section .product-info-price .price-box span.old-price {
      font-size: 16px;
      padding-top: 20px;
    }
    .product-info-custom-section .product-info-price .price-box span.old-price::before {
      font-size: 13px;
    }

  }

}

@media screen and (max-width: 991px) {
  .catalog-product-view .product-content-custom-section{
    .product.media {
      width: 50%;
      padding-right: 30px;
    }
    .product-info-main {
      width: 50%;
      margin-bottom: 10px;
      padding: 0;
    }

    .product-info-custom-section {
      width: 50%;
      padding: 0;
      border: medium;
    }

    .product-info-main .product.overview {
      display: none;
    }

  }

  body.catalog-product-view .product.info.detailed {
    width: 65%;
  }

  body.catalog-product-view .block.related {
    width: 35%;
  }

  body.catalog-product-view .product-content-custom-section {
    margin-bottom: 30px;
  }

  body.catalog-product-view .product.info.detailed .product.data.items > .item.title {
    width: auto !important;
  }

  body.catalog-product-view .product.info.detailed .product.data.items > .item.title > .switch {
    padding: 0 20px !important;
    float: left;
  }

}

@media screen and (max-width: 767px){
  .catalog-product-view:not(.weltpixel-quickview-catalog-product-view):not(.weltpixel_quickview-catalog_product-view) .product.media {
    padding-right: 20px !important;
  }
  .catalog-product-view .product-content-custom-section .product-info-custom-section .product.attribute.sku {
    width: calc(~'100% - 95px');
  }

  body.catalog-product-view .product.info.detailed {
    width: 100%;
  }

  body.catalog-product-view .block.related {
    width: 100%;
    margin-top: 30px;
  }

  body.catalog-product-view .small-list.products-grid .product-items .product-item-info {
    width: 50%;
    max-width: 50%;
    float: left;
  }

  body.catalog-product-view .product.info.detailed .product.data.items > .item.title {
    width: 100% !important;
  }

  body.catalog-product-view .product.info.detailed .product.data.items > .item.title > .switch {
    width: 100% !important;
    border-right: 1px solid #bbb;
    text-align: left;
  }

  body.catalog-product-view .product.info.detailed .product.data.items > .item.title#tab-label-description > .switch {
    border-right: 1px solid #bbb;
  }

  body.catalog-product-view .product.info.detailed {
    padding-right: 0;
  }

  body.catalog-product-view .product.info.detailed .product.data.items > .item.content {
    float: left !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 0;
    border: 1px solid #bbb;
  }

  body.catalog-product-view .product.info.detailed .product.data.items > .item.content form#review-form {
    max-width: 100%;
  }

  body.catalog-product-view .product.info.detailed .product.data.items > .item.content form#review-form .review-form-actions {
    max-width: 200px;
  }

  body.catalog-product-view .product.info.detailed .product.data.items > .item.content form#review-form .field textarea {height: 100px;resize: none;}

  body.catalog-product-view .product.info.detailed .product.data.items > .item.title > .switch::after {
    right: 20px;
    font-size: 18px;
  }

}

@media screen and (max-width: 639px) {
  .catalog-product-view .product-content-custom-section{
    .product.media {
      width: 100%;
      padding: 0 !important;
    }
    .product-info-main {
      width: 100%;
    }
    .product-info-custom-section {
      width: 100%;
    }
    .product-add-form {
      float: left;
      width: 100%;
    }
    .product-info-custom-section .product.attribute.sku .value {
      float: left;
      width: calc(~'100% - 35px');
    }
    .product-info-custom-section .product-info-stock-sku {
      width: 100%;
    }
    .product-info-custom-section .product.attribute.sku {
      width: calc(~'100% - 100px');
    }
  }

  body.catalog-product-view .small-list.products-grid .product-items .product-item-info {
    width: 100%;
    max-width: 100%;
    float: left;
  }
}

/* ============ Product page new style end =========== */

/* ============== Responsive Style Start ============= */

@media screen and (max-width:1199px){
  .product-info-main .page-title-wrapper h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width:991px){
  .product-info-main .page-title-wrapper h1 {
    font-size: 1.2rem;
  }
  .product-info-main .product.attribute.overview .key-features-section .key-features-title {
    font-size: 14px;
  }
  .product-info-main .product.attribute.overview .key-features-section ul li label {
    font-size: 13px;
  }
  .product-info-main .product.attribute.overview .key-features-section ul li {
    margin-bottom: 5px;
    padding-left: 15px;
  }
  .product-info-main .product.attribute.overview .key-features-section .key-features-more-info-btn a {
    font-size: 12px;
  }

  .product-info-main .product.attribute.overview .key-features-section {
    margin-bottom: 10px;
  }
  .product-options-wrapper .swatch-opt .swatch-attribute-options .swatch-option {
    width: 43px !important;
    height: 43px !important;
    background-size: 85% !important;
  }
  .product-info-main .product-info-stock-sku .product.sku {
    white-space: inherit;
  }
  .product-info-main .page-title-wrapper.product {
    max-width: 100%;
  }

}

@media screen and (max-width: 479px){
  .product-info-main .product-add-form .product-options-bottom .moved-add-to-links .product-addto-links a.action {
    width: 40px;
    height: 44px;
    line-height: 42px;
  }

  .product-info-main .product-add-form .product-options-bottom .actions button.tocart {
    width: 100%;
  }

  .product-info-main .product-add-form .product-options-bottom .actions {
    width: 100%;
  }

  .product-info-main .product-add-form .product-options-bottom .box-tocart .fieldset {
    position: relative;
  }

  .product-info-main .product-add-form .product-options-bottom .moved-add-to-links {
    position: absolute;
    top: 0;
    right: 0;
  }

}
/* ============== Responsive Style End ============= */
